body {

font-family: 'Open Sans', sans-serif;
font-size: 18px;
background: #070022;

}

* {

  color: #E4F8CE;
}

p {

  font-size: 24px;
  font-weight: 300;
}

#surveyContent{
margin-bottom: -20px;

}
h2 {

  font-weight: 400;
}

h3 {

  font-weight: 300;
  font-size: 28px;
  margin-bottom: 0;
}


.bodyContent {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);


}

#survey{

  margin: 0;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#number {

text-align: center;
}

.buttons {
  text-align: center;
}

#titleLink {

  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

.move{

  /*margin-left: 20px;*/
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

#finishedWords {

  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

#nextArrow {

  width: 7%;
}

div {

  margin-bottom: 25px;
}

#top {


}

#intro {


font-size: 18px;
font-weight: 300;
}

#title {
  margin:0px 20px;
  float: left;
  color: #E4F8CE;
}

#stopButton {
float: right;
margin: 0px 20px;

}

.inlineButtons {

  display: inline-block;
}
.primaryButton {

border-radius: 4px;
background: #E4F8CE;
padding: 12px;
color: #070022;
margin-top: 30px;
margin-right: 10px;
margin-left: 10px;

}

.primaryButton{

text-decoration: none;
color: #070022;
display: inline-block;


}

.secondaryButton {
display: inline-block;
margin-top: 30px;
margin-right: 10px;
margin-left: 10px;
border: 1px solid #E4F8CE;
border-radius: 4px;
background: #070022;
padding: 12px;
text-decoration: none;

}

.secondaryButton > a{

text-decoration: none;

}


.primaryLink > a {

font-size: 18px;
text-decoration: none;
border-bottom: 1px solid #E4F8CE;
padding-bottom: 3px;

}

#next {

  margin: 0;
  margin-top: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.excited {

  color: red;
}

.mellow {

  color: blue;
}

#permission {

display: block;

}

#instructions {

  display: none;
}

#number {

  display:none;
}

#survey{

  width: 450px;
}

#permission, #instructions{

  width: 600px;
}

#finish {

  display: none;
}

.smallinst {
  font-size: 18px;
}
