body {

font-family: 'Open Sans', sans-serif;
font-size: 18px;
background: #070022;

}

* {

  color: #E4F8CE;
}

p {

  font-size: 24px;
  font-weight: 300;
}

#surveyContent{
margin-bottom: -20px;

}
h2 {

  font-weight: 400;
}

h3 {

  font-weight: 300;
  font-size: 28px;
  margin-bottom: 0;
}


.bodyContent {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);


}

#survey{

  margin: 0;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.buttons {
  text-align: center;
}

#titleLink {


  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

.move{

  /*margin-left: 20px;*/
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

#finishedWords {

  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

#nextArrow {

  width: 7%;
}

#email {

  display: none;
}
div {

  margin-bottom: 25px;
}


#intro {


font-size: 22px;
font-weight: 300;
}

#top {

margin:20px 20px;

}

#title {
  display: inline-block;
  float: left;
  color: #E4F8CE;

}

#stopButton {
display:none;
float: right;
/*margin-left: 90%;*/


}

.secondaryButton2 {
border: 1px solid #E4F8CE;
border-radius: 4px;
background: #070022;
padding: 12px;
text-decoration: none;

}

.inlineButtons {

  display: inline-block;
}
.primaryButton {

border-radius: 4px;
background: #E4F8CE;
padding: 12px;
color: #070022;
margin-top: 30px;
margin-right: 10px;
margin-left: 10px;
text-decoration: none;
color: #070022;
display: inline-block;


}

.secondaryButton {
display: inline-block;
margin-top: 30px;
margin-right: 10px;
margin-left: 10px;
border: 1px solid #E4F8CE;
border-radius: 4px;
background: #070022;
padding: 12px;
text-decoration: none;

}


.secondaryButton > a{

text-decoration: none;

}

.secondaryButtonBig {
display: inline-block;
margin: 50px 10px;
border: 1px solid #E4F8CE;
border-radius: 4px;
background: #070022;
padding: 25px;
text-decoration: none;
font-size: 36px;

}


.primaryLink{

/*font-size: 18px;*/
text-decoration: none;
border-bottom: 2px solid #E4F8CE;
padding-bottom: 3px;
font-weight: normal;
font-size: 18px;

}

#next {

  margin: 0;
  margin-top: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.excited {

  color: red;
}

.mellow {

  color: blue;
}

#permission {

display: block;

}

#instructions {

  display: none;
}

#number {

  display:none;
  text-align: center;
}

#surveyNumber {

  margin-top: 50px;
  font-size: 50px;
}

#survey{

  width: 450px;
}

#permission, #instructions{

  width: 600px;
}

#finish {

  display: none;
}

.smallinst {
  font-size: 18px;
}

/* modal */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modalbuttons {
  margin-left: 50%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #070022;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px 20px 20px 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
